@charset "UTF-8";

body{
  color: #fff;
  font-family: "Futura";
}

.Portraits {
  font-size: 50px;
  margin-bottom: 40px;
  text-align: center;
}

.portraits a{
  text-decoration: none;
  font-size: 16px;
  color: #FFF;
  position: absolute;
  margin-top: -50px;
  margin-bottom: 50px;
  margin-left: -226px;
}

.portraits a:hover{
  color: grey;
}

.portrait1_img p {
  text-align: left;
  margin-left: 15%;
  font-size: 20px;
}

.portrait1_img img {
  width: 70%;
}

.portrait1_img {
  text-align: center;
}

.portrait2_img p {
  text-align: left;
  margin-left: 15%;
  font-size: 20px;
}

.portrait2_img img {
  width: 50%;
}

.portrait2_img {
  text-align: center;
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.portrait4_img{
  text-align: center;
}

.portrait4_img img{
  width: 50%;
}

.portrait4_img p{
  font-size: 20px;
}

.portrait3_img{
  text-align: center;
}

.portrait3_img img{
  width: 50%;
  margin-top: 3em;
}

.portrait3_img p{
  font-size: 20px;
}
