@charset "UTF-8";

body{
  color: #FFF;
  font-family: "Futura";
  text-align: center;
}

.politiskreklame {
  font-size: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.video p{
  font-size: 19px;
  margin-top: 50px;
}

.politiskreklame a{
  text-decoration: none;
  font-size: 16px;
  color: #FFF;
  position: absolute;
  margin-top: -50px;
  margin-bottom: 50px;
  margin-left: -280px;
}

.politiskreklame a:hover{
  color: grey;
}
