@charset "UTF-8";

body{
  color: #fff;
  font-family: "Futura";
}


.Portraits {
  font-size: 60px;
  margin-bottom: 40px;
  text-align: center;
}

.portrait1_img p {
  text-align: left;
  margin-left: 15%;
}

.portrait1_img img {
  width: 70%;
}

.portrait1_img {
  text-align: center;
}
