@charset "UTF-8";

body{
  color: #fff;
  font-family: "Futura";
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
   -webkit-text-size-adjust:none;
}

#content{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(19, minmax(150px, auto));
  margin: 0;
}

.one{
  /*grid-column-start: 1;
  grid-column-end: 3;*/
  grid-column: 1 / 8;
  grid-row: 1 / 6;
  background-color: #FAB135;
  background-size: cover;
  background-image: url(../img/minimal.png);
  background-repeat: none;
  background-attachment: fixed;
  background-position: center;
}

  .one h1{
    margin-top: 10rem;
    font-size: 70px;
  }

  .one h2{
  margin-top: -2rem;
  margin-bottom: 3rem;
  }

  .one hr{
    width: 30%;
    height: .3rem;
    background-color: #FFF;
    border: 0;
  }

  .one a{
    margin-top: 18rem;
    font-size: 100px;
    color: #FFF;
    text-decoration: none;
  }

.two{
  grid-column: 1 / 4;
  grid-row: 6 / 9;
  background-color: #7EA5E2;
  background-size: cover;
  background-image: url(../img/erik1.jpg);

}

  .overlay2{
    height: 100%;
    width: 100%;
    display: none;
    background-color: #00C140;
    padding-top: 10rem;
  }

  .two:hover .overlay2 {
    display: block;
    background-color: #00C14060;
  }

  .two h2{
    font-size: 42px;
    margin: 0;
  }

  .two p{
    margin-bottom: 0;
  }

  .two hr{
    width: 40%;
    background-color: #FFF;
    height: .2rem;
    border: 0;
  }

  .two a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    margin-top: -1em;
  }

  .two a:hover{
    color: gray;
  }

.three{
  grid-column: 4 / 8;
  grid-row: 6 / 9;
  background-color: #FB1;
  background-image: url(../img/tseten.png);
  background-size: cover;
  padding: 0;
}

  .overlay3{
    height: 100%;
    width: 100%;
    display: none;
    background-color: #8C00FF;
    padding-top: 10rem;
  }

  .three:hover .overlay3 {
    display: block;
    background-color: #8C00FF60;
  }

  .three h2{
    font-size: 42px;
    margin: 0;
  }

  .three hr{
    width: 40%;
    background-color: #FFF;
    height: .2rem;
    border: 0;
  }

  .three p{
    margin-bottom: 0;
  }

  .three a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    margin-top: -1em;
  }

  .three a:hover{
    color: grey;
  }

.four{
  grid-column: 1 / 5;
  grid-row: 9 / 12;
  background-color: #5ABE25;
  background-image: url(../img/trumpatouille.jpg);
  background-size: cover;
}

  .four a{
    text-decoration: none;
    color: #fff
  }

  .four a:hover{
    color: grey;
  }

  .overlay4{
    height: 100%;
    width: 100%;
    display: none;
    background-color: #F22EB0;
    padding-top: 10rem;
  }

  .four:hover .overlay4 {
    display: block;
    background-color: #F22EB060;
  }

  .four h2{
    font-size: 42px;
    margin: 0;
  }

  .four hr{
    width: 40%;
    background-color: #FFF;
    height: .2rem;
    border: 0;
  }

.five{
  grid-column: 5 / 8;
  grid-row: 9 / 12;
  background-color: #CE171C;
  background-image: url(../img/ap.jpg);
  background-size: cover;
}

  .overlay5{
    height: 100%;
    width: 100%;
    display: none;
    background-color: #444AFF;
    padding-top: 10rem;
  }

  .five:hover .overlay5 {
    display: block;
    background-color: #444AFF60;
  }

  .five h2{
    font-size: 42px;
    margin: 0;
  }

  .five hr{
    width: 40%;
    background-color: #FFF;
    height: .2rem;
    border: 0;
  }

  .five a{
    text-decoration: none;
    color: #FFF;
  }

  .five a:hover{
    color: grey;
  }

.six{
  grid-column: 1 / 4;
  grid-row: 12 / 15;
  background-color: #B455E5;
  background-image: url(https://images.unsplash.com/photo-1494247603411-25a2921e0b28?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=06d42f129cdbbb030548fa19cb3f89f2&auto=format&fit=crop&w=2500&q=80);
  background-size: cover;
}

  .overlay6{
    height: 100%;
    width: 100%;
    display: none;
    background-color: #FFE500;
    padding-top: 10rem;
  }

  .six:hover .overlay6 {
    display: block;
    background-color: #FFE50060;
  }

  .six h2{
    font-size: 42px;
    margin: 0;
  }

  .six hr{
    width: 40%;
    background-color: #FFF;
    height: .2rem;
    border: 0;
  }

.seven{
  grid-column: 4 / 8;
  grid-row: 12 / 15;
  background-color: #208075;
  background-image: url(https://images.unsplash.com/photo-1508558936510-0af1e3cccbab?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b65e6f1777de9caedf69908ef77e22c1&auto=format&fit=crop&w=2550&q=80);
  background-size: cover;
}

  .overlay7{
    height: 100%;
    width: 100%;
    display: none;
    background-color: #FF1D00;
    padding-top: 10rem;
  }

  .seven:hover .overlay7 {
    display: block;
    background-color: #FF1D0060;
  }

  .seven h2{
    font-size: 42px;
    margin: 0;
  }

  .seven hr{
    width: 40%;
    background-color: #FFF;
    height: .2rem;
    border: 0;
  }

.eight{
  grid-column: 1 / 8;
  grid-row: 15 / 18;
  background-color: #FAB135;
  display: inline-block;
  padding: 2rem;
  padding-left: 4rem;
  background-size: cover;
  background-image: url(../img/minimal.png);
  background-repeat: none;
  background-attachment: fixed;
  background-position: center;
}

  .eight img{
    margin-top: 3rem;
  }

  .container1{
    width: calc(50% - 2rem);
    text-align: left;
    margin: 0;
    float: left;
    display: inline-block;
  }

  .container1 h2{
    font-size: 42px;
    text-align: right;
    margin-bottom: 1rem;
  }

  .container1 hr{
    border: 0;
    height: .2rem;
    background-color: #FFF;
    width: 40%;
    margin-left: 60%;
  }

  .container1 p{
    font-size: 23px;
  }

  .container2{
    width: 50%;
    float: right;
    margin: 0;
  }

  .container2 img{
    width: 80%;
    float: right;
  }

/*
.nine{
  grid-column: 1 / 5;
  grid-row: 17 / 20;
  background-color: #FAB135;
  outline: 1px solid #FFF;
}

.ten{
  grid-column: 5 / 8;
  grid-row: 17 / 18;
  background-color: #FAB135;
  outline: 1px solid #FFF;
}

.eleven{
  grid-column: 5 / 8;
  grid-row: 18 / 19;
  background-color: #FAB135;
  outline: 1px solid #FFF;
}
*/

.twelve{
  grid-column: 1 / 8;
  grid-row: 18 / 19;
  background-color: #252525;
  outline: 1px solid #FFF;
}

.thirteen{
  grid-column: 1 / 8;
  grid-row: 19 / 20;
  background-color: #252525;
}

  .thirteen h4{
    margin-top: 7rem;
    padding-left: 2rem;
    text-align: left;
    font-family: helvetica;
  }

.portraits h1{
  color: #FFF;
  margin-top: 4rem;
  font-size: 70px;
}
